<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat</title>
    <script src="index.js" defer></script>
  </head>
  <body>
    <div id="chat"></div>
    <form id="chatInput">
        <input type="text" name="message"></input>
        <button type="submit" >Send</button>
    </form>
    <script></script>
  </body>
</html>
